tmp/

# Temporal figures. Use --force for adding the final ones
*.png
*.svg
*.pdf   
*.html

# R things
*/.Rhistory

# Compressed datasets
*.gzip 
*.zip 
*.pkl 
*.csv
*.txt
*.tsv
*.rar
*.gpickle
*.xls
*.xlsx
*.tar
*.gz
*.json
*.h5
*.hdf5
*.pt
*.pth
*.mat
*.gexf
*.gephi
*.parquet
*.GraphML
*.graphml
*.mat
*.pickle
